<div class="jumbotron">
  <h1 style="text-align: center">Create Pokemon Entry</h1>
  <form (submit)="onAddPokemon(pokemonForm)" #pokemonForm="ngForm">
    <mat-card>
      <mat-form-field>
        <input matInput type="text" name="name" ngModel placeholder="Enter Pokemon Name" required minlength="3" #title="ngModel">
        <mat-error *ngIf="title.invalid">
          Please enter a Pokemon name
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" name="kdex" ngModel placeholder="Enter kdex number" required #kdex="ngModel">
        <mat-error *ngIf="kdex.invalid">
          Please enter a kDex number
        </mat-error>
      </mat-form-field>
      <mat-form-field>
       <mat-select placeholder="Select a Type" (selectionChange)="updateSelectedTypes($event.value)" multiple #types>
         <mat-option>--</mat-option>
         <mat-option *ngFor="let t of types_OptionsArray" [value]="t" #type [disabled]="selectedTypesCount >= maxTypesCount && !type.selected">
          {{t}}
         </mat-option>
       </mat-select>
        <mat-error *ngIf="">
          Please enter its type
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" name="evolutionName" ngModel placeholder="Enter an evolution" required #evolution="ngModel">
        <mat-error *ngIf="evolution.invalid">
          Please enter an evolution
        </mat-error>
      </mat-form-field>
      <mat-form-field>

        <mat-select placeholder="Select a Resistance" (selectionChange)="updateSelectedResistances($event.value)" multiple>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let t of types_OptionsArray" [value] = "t">
            {{t}}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="">
          Please enter a reistance
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Select a Weakness" (selectionChange)="updateSelectedWeaknesses($event.value)" multiple>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let t of types_OptionsArray" [value]="t">
           {{t}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="">
          Enter a weakness
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" name="ability" ngModel placeholder="Enter an ability" required #ability="ngModel">
        <mat-error *ngIf="ability.invalid">
          Please enter an ability
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" name="height" ngModel placeholder="Enter height" required #height="ngModel">
        <mat-error *ngIf="height.invalid">
          Please enter a height
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" name="weight" ngModel placeholder="Enter weight" required #weight="ngModel">
        <mat-error *ngIf="weight.invalid">
          Please enter a weight
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput rows="4" name="description" ngModel placeholder="Enter a description" required #description="ngModel">

        </textarea>
        <mat-error *ngIf="description.invalid">
          Please enter a description
        </mat-error>
      </mat-form-field>
      <hr>
      <button class="btn btn-primary" type="submit">Submit</button>
    </mat-card>
  </form>
</div>
