<p>
  dashboard works!
</p>
<div *ngIf="pokemon">
  <p>
    {{pokemon.pokemonName}}
  </p>
  <p>
    {{pokemon.kdex}}
  </p>
  <p>
    {{pokemon.types}}
  </p>
  <p>Resistances: </p>
  <div *ngFor="let t of pokemon.resistances.resistances">
    <p>{{t}}</p>
  </div>
  <p>Weaknesses</p>
  <div *ngFor="let t of pokemon.weaknesses.weaknesses">
    <p>{{t}}</p>
  </div>
  <p>{{pokemon.evolutions}}</p>
  <p>{{pokemon.abilities.abilityName}}</p>
  <p>{{pokemon.height}}</p>
  <p>{{pokemon.weight}}</p>
  <p>{{pokemon.description}}</p>
</div>
