<div class = "jumbotron">
<mat-accordion multi="true" *ngIf="posts.length > 0">
  <mat-expansion-panel *ngFor="let p of posts">
    <mat-expansion-panel-header>
      {{p.title}}
    </mat-expansion-panel-header>
    <p>{{p.content}}</p>
    <mat-action-row>
      <button mat-button color="primary">EDIT</button>
      <button mat-button color="warn" (click) = "onDelete(p.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0">No posts yet</p>
</div>
